<div class="container edit-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center"> Edit Qualification </h3>
    <div class="form-group">
      <input type="text" [(ngModel)]="qualificationData.qualification" class="form-control"
             placeholder="Enter a Qualification">
      <div class="form-group">
        <a class="btn" (click)="(editQualification())">Edit Qualification</a>
        <!--  <button class="btn btn-success btn-lg btn-block" (click)="editQualification()">Update Qualification </button> -->
      </div>
    </div>
  </div>
</div>
