<app-header-component></app-header-component>
<div>
  <h1>LF10-Starter</h1>
  <p>
    Wenn Sie in der EmployeeListComponent.ts ein gültiges Bearer-Token
    eintragen, sollten hier die Namen der in der Datenbank gespeicherten
    Mitarbeiter angezeigt werden!
  </p>
</div>
<div>
  <hr>
  <div *ngFor="let e of employees$ | async">
    <p>
      {{e.lastName}}, {{e.firstName}}
      <a routerLink="/employee-edit/{{ e.id }}">
        <img src="https://site-assets.fontawesome.com/releases/v5.15.4/svgs/solid/edit.svg" style="height: 0.8em">
      </a>
    </p>
    <hr>
  </div>
</div>

<button type="button" (click)="openNewEmployee()">New Employee</button>
<button type="button" (click)="logout()">logout</button>
