<!--- <form (submit)='AddEntry()'>
  <input
    type="text"
    name="inputEntry"
    placeholder="Enter an Entry here.."
    class="btn"[(ngModel)]="inputEntry">
  <input type="submit" value="Add Entry" class="btn--submit">
</form>
  <div *ngFor="let entry of entries; let i = index;" class="flex-container {{(entry.completed ? 'done' : '')}}">
  <div class="id">{{i}} </div>
  <div class="content" (click)="toogleEntry(i)">{{entry.content}} </div>
    <a href="#" class="btn" (click)="editEntry(i)">Edit</a>
    <a href="#" class="btn" (click)="deleteEntry(i)">Delete</a>
  </div> --->
<app-header-component></app-header-component>
<div class="container custom-container-2">
  <div class="no-data text-center" *ngIf="Qualification.length == 0">
    <p>There is no qualification added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/add-qualification">
      Add Qualification</button>
  </div>

  <div *ngIf="Qualification.length !== 0">
    <h2 class="mb-3 text-center"> Qualifications List </h2>

    <div>
      <hr>
      <div *ngFor="let qualification of Qualification" >
        <p>
          {{qualification.skill}}
          <span class="delete" (click)="deleteQualification(qualification.skill)">
            <img src="https://site-assets.fontawesome.com/releases/v6.3.0/svgs/solid/trash.svg" style="height: 0.8em">
          </span>
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>
<app-add-qualification></app-add-qualification>
