<form (submit)='AddEntry()'>
  <input
    type="text"
    name="inputEntry"
    placeholder="Enter an Entry here.."
    class="btn"[(ngModel)]="inputEntry">
  <input type="submit" value="Add Entry" class="btn--submit">
</form>
  <div *ngFor="let entry of entries; let i = index;" class="flex-container {{(entry.completed ? 'done' : '')}}">
  <div class="id">{{i}} </div>
  <div class="content" (click)="toogleEntry(i)">{{entry.content}} </div>
    <a href="#" class="btn" (click)="editEntry(i)">Edit</a>
    <a href="#" class="btn" (click)="deleteEntry(i)">Delete</a>
  </div>
