* {
  text-decoration: none;
  margin: 0px 1.5rem 0px 0px;
}
.btn {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3em 1em;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  float: right;
}

.btn:hover {
  background: #67c5ff;
  color: white;
}

input [type ="text"] {

}

